.body-container-home {
  margin-top: 40px;
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  background-color: white;
  .item{
    max-width: 650px;
  }
}