.sidebar-container {
    margin-top: 40px;
    padding: 0px 30px;
}

.container-sidebar{
    margin-top: 20px;
}

.icon-sidebar {
    font-size: 24px;
    margin-right: 10px;
}
.item-sidebar {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .item-sidebar:hover {
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  .item-sidebar.active {
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }